
html, body {
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#loading {
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10%;
}

#game_over {
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
}

#health_div {
    position: absolute;
    top: 10px;
    width: 100px;
    text-align: center;
    z-index: 10;
    display:block;
    left: 50px;
}

#health_amount {
    font-size: 50px;
    font-family: "Courier New", "Arial", sans-serif;
    float: left;
    color: #ffffff;
}

#apples_div {
    position: absolute;
    top: 10px;
    width: 100px;
    text-align: center;
    z-index: 10;
    display:block;
    right: 50px;
}

#apple_count {
    font-size: 30px;
    font-family: "Courier New", "Arial", sans-serif;
    float: left;
    color: #ffffff;
}

#apple_pic {
    float: right;
    width: 50px;
    height: 45px;
    padding-top: 20px;
}

.lds-dual-ring {
  display: inline-block;
  width: 200px;
  height: 200px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 200px;
  height: 200px;
  margin: 1px;
  border-radius: 50%;
  border: 10px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
